section#todosWork.row
    section.col-lg-12
        header#header
          h1 work todos
          input#new-todo(data-bind='value: current, valueUpdate: \'afterkeydown\', enterKey: add', placeholder='What needs to be done?', autofocus='autofocus')
        include shared/todo
