
<div class="container">
  <nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a data-bind="attr: { href: router.navigationModel()[0].hash }" class="navbar-brand">Todo Durandal</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul data-bind="foreach: router.navigationModel" class="nav navbar-nav">
        <li data-bind="css: { active: isActive }"><a data-bind="attr: { href: hash }, html: title"></a></li>
      </ul>
      <div data-bind="css: { active: router.isNavigating }" class="loader pull-right"><i class="icon-spinner icon-2x icon-spin"></i></div>
    </div>
  </nav>
  <div data-bind="router: { cacheViews:false }" class="page-host"></div>
</div>