header#todoHeader.navbar.navbar-inverse.navbar-fixed-top.container(style="height: 120px !important;top:52px;")
    div.navbar-inner.row
        div.col-md-12.visible-xs(data-bind='visible: completedCount() || remainingCount()', style='display: none;')
            span#todo-count.col-md-4
                span.badge.badge-warning(data-bind='text: remainingCount') 0
                span(data-bind="text: ' ' + getLabel( remainingCount ) + ' left'")
            include shared/filters
        h1(data-bind='text: name')
    div.currentToDoHeader
    div.currentToDo
        div#currentToDo.col-md-12
            input#toggle-all(data-bind='checked: allCompleted', type='checkbox')
            label(for='toggle-all') Mark all as complete
            input#new-todo.col-md-11.col-md-offset-2(data-bind="value: current, valueUpdate: 'afterkeydown', enterKey: add", placeholder='What needs to be done?', autofocus='')


div.container.framePushDown()

div#frame.container
    div#todoapp.row(data-bind="style:{'max-height': maxHeight}",style="overflow-y:auto;max-height: 600px;height: 100%")
        ul.col-md-12#todo-list(data-bind='foreach: filteredTodos')
            li(data-bind='css: { completed: completed, editing: editing }')
                input.toggle(data-bind='checked: completed', type='checkbox')
                label(data-bind='text: title, event: { dblclick: $root.editItem }')
                button.destroy(data-bind='click: $root.remove')
                input.edit(data-bind='value: title, valueUpdate: "afterkeydown", enterKey: $root.stopEditing, selectAndFocus: editing, event: { blur: $root.stopEditing }')
    div#footer(data-bind='visible: completedCount() || remainingCount()', style='')
        span#todo-count
            strong(data-bind='text: remainingCount') 1
            span(data-bind='text: getLabel( remainingCount )') item
            | left
        include shared/filters

button.clearCompleted.col-md-12.col-xs-12.btn.btn-small(data-bind='visible: completedCount, click: removeCompleted', style='position: fixed; bottom: 0px; left: 0px;display: none;margin-top:10px;')
    | Clear completed (
    span(data-bind='text: completedCount') 0
    | )