ul#filters
    li
        a.selected(data-bind="css: { selected: showMode() =='all' }, attr: { href: window.location.hash.split('/')[0] + '/all' }") All
    li
        a(data-bind="css: { selected: showMode() == 'active' }, attr: { href: window.location.hash.split('/')[0] + '/active' }") Active
    li
        a(data-bind="css: { selected: showMode() == 'completed' }, attr: { href: '/' + window.location.hash.split('/')[0] + '/completed' }") Completed