ul#filters
    li
        a.selected(data-bind="css: { selected: showMode() === 'all' }, attr: { href: '#' +currentRoute() + '/all' }") All
    li
        a(data-bind="css: { selected: showMode() === 'active' }, attr: { href: '#' + currentRoute()+ '/active' }") Active
    li
        a(data-bind="css: { selected: showMode() === 'completed' }, attr: { href:  '#' + currentRoute() + '/completed' }") Completed